*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial;
}

body{
  background: rgba(85, 102, 102, 0.411);
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: center;
 min-height: 100vh;
}


.react-list{
  background-color: rgba(37, 129, 209, 0.918);
  padding: 2rem;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.react-list h1{
  margin-bottom: .5rem;
  font-size: 2rem;
  color: aliceblue;

}

input[type='text']{
  padding: 10px;
  border: none;
  outline: 1px solid lightblue;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.add-btn{
   padding: 10px 5px;
   background-color: rgba(15, 207, 47, 0.479);
  border: none;
  /* outline: 1px solid lightblue; */
  border-radius: 5px;
  color: aliceblue;
  cursor: pointer;
}

ol {
  list-style: none;
  display: flex;
  flex-direction: column;
 
}

ol li{
  padding: .5rem;
  border: 1px solid rgb(223, 204, 223);
  margin: .5rem 0;
  display: flex;
  background: #fff;
  text-transform: capitalize;
  border-radius: 5px;
}

.text{
  flex: 1;
}

li button{
  border: none;
  padding: .2rem;
  margin: .1rem;
  border-radius: 5px;
  text-transform: capitalize;
  color: #dfd8d8;
  cursor: pointer;
}

.delete-btn{
  background-color: #900;
}

.move-up{
  background-color: #090;
}
.move-down{
  background-color: rgba(37, 129, 209, 0.918);
}

@media screen and (max-width:768){
  .react-list{
    width: 500px;
    margin: auto ;

  }

 
}